div div {
    height: 15vh;
    width: 100vw;
}

.box1 {
    background-color: darkcyan;
    height: 10vh;
    width: 100vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.box2 {
    background-color: lightcoral;
    height: 10vh;
    width: 10vh;
    margin-left: 1.5vw; 
}

.box3 {
    background-color: lightgoldenrodyellow;
    height: 18vh;
    width: 95vw;
    font-size: 3vh;
    padding-left: 5vw; 
    padding-right: -10vw;
    padding-top: 5vh; 
    padding-bottom: 5vh;
}

.box4 {
    background-color: lawngreen;
}

.box5 {
    background-color: seagreen;
}

.box6 {
    background-color: maroon;
}

.box7 {
    background-color: orangered;
}