.box1 {
    background-color: darkcyan;
    height: 10vh;
    width: 100vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.box2 {
    background-color: lightcoral;
    height: 10vh;
    width: 10vh;
    margin-left: 1.5vw; 
}

.box3 {
    background-color: lightgoldenrodyellow;
    height: 20vh;
    width: 100vw;
    font-size: 30px;
    padding-left: 5vw; 
    padding-top: 7vh; 
}

.box4 {
    background-color: lawngreen;
    height: 15vh;
    width: 100vw;
}

.box5 {
    background-color: seagreen;
    height: 15vh;
    width: 100vw;
}

.box6 {
    background-color: maroon;
    height: 15vh;
    width: 100vw;
}

.box7 {
    background-color: orangered;
    height: 15vh;
    width: 100vw;
}